<a href="https://colab.research.google.com/github/samucale/CURSO.PYTHON.PROF.GUSTAVO-GUANABARA/blob/main/Exercicio_20_Sorteando_uma_Ordem_na_Lista.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*O MESMO PROFESSOR DO DESAFIO ANTERIOR QUER SORTEAR A ORDEM DE APRESENTAÇAO DE TRABALHOS DOS ALUNOS, FAÇA UM PROGRAMA QUE ALEIA O NOME DOS QUATRO ALUNOS E MOSTRE A ORDEM SORTEADA*

In [3]:
import random

In [5]:
n1 = input ('Digite o nome do aluno: ')
n2 = input ('Digite o nome do aluno: ')
n3 = input ('Digite o nome do aluno: ')
n4 = input ('Digite o nome do aluno: ')
lista = [n1,n2,n3,n4]
random.shuffle(lista)
print('A ordem de apresentaçao sera ')
print(lista)

Digite o nome do aluno: fe
Digite o nome do aluno: ana
Digite o nome do aluno: carla
Digite o nome do aluno: anto
A ordem de apresentaçao sera
['ana', 'fe', 'carla', 'anto']