<a href="https://colab.research.google.com/github/samucale/CURSO.PYTHON.PROF.GUSTAVO-GUANABARA/blob/main/Exercicio_20_Sorteando_uma_Ordem_na_Lista.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*O MESMO PROFESSOR DO DESAFIO ANTERIOR QUER SORTEAR A ORDEM DE APRESENTAÇAO DE TRABALHOS DOS ALUNOS, FAÇA UM PROGRAMA QUE ALEIA O NOME DOS QUATRO ALUNOS E MOSTRE A ORDEM SORTEADA*

In [ ]:
import random

In [ ]:
n1 = input ('Digite o nome do aluno: ')
n2 = input ('Digite o nome do aluno: ')
n3 = input ('Digite o nome do aluno: ')
n4 = input ('Digite o nome do aluno: ')
lista = [n1,n2,n3,n4]
random.shuffle(lista)
print('A ordem de apresentaçao sera ')
print(lista)

Digite o nome do aluno: fe
Digite o nome do aluno: ana
Digite o nome do aluno: carla
Digite o nome do aluno: anto
A ordem de apresentaçao sera
['ana', 'fe', 'carla', 'anto']

In [1]:
import random

In [4]:
n1 =input('Digite o nome do aluno: ')
n2 =input('Digite o nome do aluno: ')
n3 =input('Digite o nome do aluno: ')
n4 =input('Digite o nome do aluno: ')
lista=[n1,n2,n3,n4]
ordem = random.shuffle(lista)
print('A ordem de apresentaçao sera')
print(lista)

Digite o nome do aluno: Jose
Digite o nome do aluno: Maria
Digite o nome do aluno: trindade
Digite o nome do aluno: carlos
A ordem de apresentaçao sera
['Jose ', 'trindade', 'carlos', 'Maria']

In [ ]:
import random

In [7]:
aluno1 = input('Digite o nome do aluno: ')
aluno2 = input('Digite o nome do aluno: ')
aluno3 = input('Digite o noem do aluno: ')
aluno4 = input('Digite o nome do aluno: ')
lista=[aluno1,aluno2,aluno3,aluno4]
random.shuffle(lista)
print('A ordem de apresentaçao sera : ')
print(lista)

Digite o nome do aluno: Jose
Digite o nome do aluno: Marciano
Digite o noem do aluno: jeremias
Digite o nome do aluno: Malaquias
A ordem de apresentaçao sera :
['jeremias', 'Malaquias', 'Jose ', 'Marciano']